.hero {
	background-color: #e5e5e5;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
	background-size: 100% 2em;
	border-top: 8px solid #f9006c;
	border-bottom: 8px solid #8e2abe;
	padding: 2.5em;
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-weight: normal;
	font-size: 20px;
	max-width: 600px;
	text-align: center;
	color: #222222;
	line-height: 1.8;
	margin-bottom: 40px;
	font-family: 'Noto Sans', sans-serif;
}
.title b {
	line-height: 1.4;
	font-size: 24px;
	font-family: 'Courier Prime', sans-serif;
}
.input {
	color: #222222;
}
.input::placeholder {
	font-style: italic;
	color: #999999;
}

.logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
}

.imageWrapper {
	flex-basis: 25%;
	display: flex;
	justify-content: center;
}

.imageButton {
	width: 100%;
	max-width: 160px;
	background: none;
	box-shadow: none;
	padding: 20px;
}

.imageButton:hover,
.imageButton:focus,
.imageButton:active {
	background: none;
	box-shadow: none;
	transform: none;
	opacity: 0.85;
}

.imageButton:hover .image {
	transform: translateY(-5px);
}

.image {
	transition: transform 0.2s;
	max-height: 120px;
}
