.searchBar {
  color: black;
  margin-right: 20px;
}

.Modal {
  color: #f9036c;
  position: absolute;
  background-color: white;
  padding: 30px;
  width: 100%;
  max-width: 480px;
  border-radius: 4px;
  /* box-shadow: 4px 4px 0 #15003E; */
  border: none;
  border: 2px solid #f9036c;
  outline: none;
  display: flex;
  flex-direction: column;
}

.Modal p {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 26px;
}

.Modal div {
  margin-bottom: 22px;
}

.Modal div:last-child {
  margin-bottom: 0;
}

.Modal button {
  margin-top: 16px;
}

.Modal label {
  margin-left: 8px;
}

.Modal input:focus + label,
.Modal label:hover {
  color: rgb(10, 1, 28);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
